.FrontendHeroes {
    .Panel {
        display: flex;
        justify-content: space-between;

       
        
        .column {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fa7c7c;
            font-weight: 600;        
            .pointer {
                display: flex;
                align-items: center;
                justify-content: center;
                @media(max-width: 800px) {
                    .toggle {margin-top: 4px;}
                    .hidden-mobile {
                        display: none;
                    }
                }
            }

            @media(max-width: 800px) {
                .heart {
                    margin-top: 6px;
                }
            }

            &.grey {
                color: #c1c1c1;
                font-size: 20px;
                letter-spacing: 1px;
            }

            * {
                padding: 0px 30px;
                display: flex;
                &.has-icon {
                    margin-left: 20px;
                }
                &:first-of-type {
                    padding-left: 0px;
                }
                &:last-of-type{
                    padding-right: 0px;
                }
            }
        }
        @media(max-width: 800px) {
            flex-direction: column;
            .column {
                justify-content: space-between;
                height: 40px;
                font-size: 14px;
                &.grey {
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }
    }
}