.FrontendHeroes {
    .Panel {
        display: flex;
        justify-content: space-between;

        .column {
            display: flex;
            color: #fa7c7c;
            font-weight: 600;

            &.grey {
                color: #c1c1c1;
                font-size: 20px;
                letter-spacing: 1px;
            }

            * {
                padding: 0px 20px;
                display: flex;
                &.has-icon {
                    margin-left: 20px;
                }
                &:first-of-type {
                    padding-left: 0px;
                }
                &:last-of-type{
                    padding-right: 0px;
                }
            }
        }
    }
}