.FrontendHeroes {
    .Stories {
        img {
            width: 100%;
            border-bottom: solid 5px $hero-color-primary;
        }
        .itemText {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            font-size: 14px;
        }
    }
}