.FrontendHeroes {
    .Stories {
        img {
            width: 100%;
            max-height: 240px;
            min-height: 240px;
            object-fit: cover;
            @media(max-width: 800px) {
                min-height: 230px;
                max-height: 230px;
            }
        }
        .itemText {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            font-size: 14px;
        }
    }
}