.FrontendHeroes {
    .SingleItem {
        z-index: 1;
        .white-font {
            position: fixed;
            color: #fff;
            font-weight: 200px;
            font-size: 100px;
            z-index: 2;
            margin-top: 100px;
            margin-left: 80px;
            text-transform: uppercase;
            @media(max-width: 800px) {
                font-size: 60px;
                margin-left: 40px;
            }
        }
        .details {
            position: relative;
            z-index: 3;
            display: flex;
            justify-content: space-between;

            .left-item {
                max-width: 350px;
                width: 100%;
                margin-bottom: 70px;
                header {
                    display: flex;
                    justify-content: space-between;
                    * {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                p {
                    line-height: 30px;
                    margin-top: 30px;
                }
                .item-data {
                    display: flex;
                    justify-content: space-between;
                    padding-right: 70px;
                    margin-top: 50px;
                    margin-bottom: 35px;
                    .item {
                        display: flex;
                        flex-direction: column;
                        .icon {
                            margin-right: 20px;
                        }
                    }
                }
                .rating {
                    margin-bottom: 35px;
                    display: flex;
                    align-items: center;
                    .item {
                        margin-right: 8px;
                    }
                }
                .last {
                    display: flex;
                    align-items: center;
                    .item {
                        margin-right: 15px;
                    }
                }
            }

            .right-item {
                max-width: 700px;
                img {
                    margin-top: -30px;
                    width: 100%;
                    border-radius: 10px;
                    z-index: 1;
                }
            }
            @media(max-width: 800px) {
                flex-direction: column;
                .left-item {
                    max-width: 100%;
                }
            }
        }
        .lancamentos {
            position: relative;
            z-index: 3;
            margin-top: 90px;
        }
    }
}