.FrontendHeroes {
    .item {
        img {
            width: 100%;
            border-bottom: solid 5px $hero-color-primary;
            min-height: 253px;
            max-height: 253px;
            object-fit: cover;
        }
        .itemText {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }
    }
}