.FrontendHeroes {
    font-family: WorkSans, Arial, Helvetica, sans-serif;
    padding-top: 15px;

    &.background-grey {
        background-color: $hero-color-tertiary;
    }

    h1 {
        font-size: 2em;
        letter-spacing: 2px;
    }
    h2 {
        font-size:  1.5em;
    }
    h3 {
        font-size: 1.17em;
    }
    h4 {
        font-size: 1em; 
    }
    h5 {
        font-size: 0.83em;
    }
    h6 {
        font-size: .67em
    }

    h1,h2,h3,h4,h5,h6 {
        text-transform: uppercase;
        margin: 15px 0px;
        font-weight: 800;
        color: $hero-text-primary;
    }

    p {
        color: $hero-text-secondary;
    }

    .text-center {
        text-align: center;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        margin-bottom: 10px;
    }

    .container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        width: 100%;
        padding: 20px;
    }

    * {
        box-sizing:border-box;
    }

    .mt-50 {
        margin-top: 30px;
    }

    .mr-10 {
        margin-right: 10px;
    }
}