$hero-color-primary: #ff1510;
$hero-color-secondary: #fdecec;
$hero-color-tertiary: #e7f6e7;
$hero-color-quaternary : #fa7c7c;

$hero-text-primary: #404040;
$hero-text-secondary: #8c8c8c;
$hero-text-tertiary: #b9b9b9;